@using eShopSolution.ViewModels.Common;
@model PagedResult<eShopSolution.ViewModels.Catalog.Products.ProductVm>

@{
    ViewData["Title"] = "Danh sách sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script>
        setTimeout(function(){
           $("#msgAlert").fadeOut("slow");
        }, 2000);
    </script>
}
<div class="container-fluid">
    <h1 class="mt-4">Danh sách sản phẩm</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active">Danh sách sản phẩm</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <a class="btn btn-success" asp-action="Create" asp-controller="Product">Tạo mới</a>
                </div>
                <div class="col-md-6 col-xs-12">
                    <form asp-action="Index" method="get">
                        <div class="row">
                            <div class="col-md-5">
                                <input class="form-control" name="keyword" value="@ViewBag.Keyword"  type="text" placeholder="Tìm kiếm..." aria-label="Tìm kiếm..." aria-describedby="btnNavbarSearch" />
                            </div>
                            <div class="col-md-5">
                                <select name="categoryId" asp-items="@ViewBag.Categories" onchange="this.form.submit()">
                                    <option>
                                        -----Chọn danh mục-----
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-primary" id="btnNavbarSearch" type="submit"><i class="fas fa-search"></i></button>
                                <button type="button" onclick="window.location.href='/Product/Index'" class="btn btn-secondary"><i class='fas fa-undo-alt'></i></button>
                            </div>
                        </div>
                    </form>
                </div>
                
            </div>
            
        </div>

        <div class="card-body">
            <div class="row g-0">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    @if (ViewBag.SuccessMsg != null)
                    {
                        <div id="msgAlert" class="alert alert-success alert-dismissible fade show" role="alert">
                          <strong>Thông báo:</strong> @ViewBag.SuccessMsg
                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                </div>
                <div class="col-md-1"></div>
            </div>
            
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Mã SP
                            </th>
                            <th>
                                Tên sản phẩm
                            </th>
                            <th>
                                Giá nhập
                            </th>
                            <th>
                                Giá bán
                            </th>
                            <th>
                                Số lượng tồn
                            </th>
                            
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OriginalPrice)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Stock)
                                </td>
                                <!-- string.Join(", ", value) -->
                                <td>
                                    @Html.ActionLink("Sửa", "Edit", new { id=item.Id }) |
                                    @Html.ActionLink("Chi tiết", "Details", new { id=item.Id }) |
                                    @Html.ActionLink("Xóa", "Delete", new { id=item.Id }) |
                                    @Html.ActionLink("Gán danh mục", "CategoryAssign", new { id=item.Id }) |

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @await Component.InvokeAsync("Pager",Model)
        </div>
    </div>
</div>